#container {
  background: #7077a1;
  padding: 2rem;
  margin: 1rem auto;
  border-radius: 15px;
  width: 90%;
  cursor: pointer;
}

#fileName {
  font-size: 1.5rem;
  margin: 0;
  color: lightgrey;
}

#contextMenu {
  background-color: white;
  width: 150px;
  position: absolute;
  border-radius: 3px;
}

.option {
  margin: 0;
  color: grey;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem;
  background: white;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
}

.option:hover {
  background-color: whitesmoke;
  transition: 0.3s;
  cursor: pointer;
}
