.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  overflow: hidden;
}

.codeArea,
.previewArea {
  margin: 1rem;
  height: 70vh;
  width: 100%;
  overflow: scroll;
  background: #7077a1;
  padding: 1rem;
  font-size: 1rem;
}

.previewArea {
  user-select: none;
}

textarea {
  resize: none;
  color: lightgrey;
  outline: none;
}

#textAreaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#fileName {
  background: transparent;
  color: lightgrey;
  font-size: 1.3rem;
  border: none;
  outline: none;
}