#topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 2rem;
}

#saveButton {
  color: lightgray;
  background-color: #7077a1;
  font-weight: 600;
}

#mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
  margin-top: 2rem;
}

#codeContainer,
#previewContainer {
  width: 45%;
}
